@model Case3.FEWebwinkel.Site.ViewModels.TechnicalErrorViewModel

@{
    ViewBag.Title = "Er is een fout opgetreden";
}

<h2>Er is iets fout gegaan.</h2>
<h4>@Html.DisplayFor(model => model.Message)</h4>