<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <configSections>
    <sectionGroup name="serviceBus">
      <section name="serviceLocators" type="Minor.ServiceBus.Agent.Implementation.ServiceLocatorConfigSection, Minor.ServiceBus.Agent.Implementation" />
    </sectionGroup>
  </configSections>
  
  <serviceLocators active="webServiceLocator" profile="Acceptatie" xdt:Transform="Replace">
    <fileServiceLocator filePath="../../LocationData.xml" />
    <webServiceLocator address="http://minorbldsrv/Goudgeel/Acceptatie/PfSLocatorService/PfSLocatorService.svc"
                       binding="basicHttpBinding" />
  </serviceLocators>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
</configuration>