<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <sectionGroup name="paymentData">
        <section name="btwPercentages" type="Case3.BTWConfigurationReader.BTWPercentageSection, Case3.BTWConfigurationReader" />
      </sectionGroup>
    
    <sectionGroup name="serviceBus">
      <section name="serviceLocators"
               type="Minor.ServiceBus.Agent.Implementation.ServiceLocatorConfigSection,
                     Minor.ServiceBus.Agent.Implementation" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <serviceBus>
    <serviceLocators active="webServiceLocator" profile="Acceptatie">
      <fileServiceLocator filePath="../../locationData.xml" />
      <webServiceLocator address="http://minorbldsrv/Goudgeel/Acceptatie/PfSLocatorService/PfSLocatorService.svc"
                         binding="basicHttpBinding" />
    </serviceLocators>
  </serviceBus>
</configuration>