body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.catalog-section {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
@media all and (max-width: 991px) {
    div.catalog-section {
        justify-content:space-around;
    } 
}
.catalog-product {
    display: inline-flex;
    border:solid black 1px;
    margin-bottom: 15px;  
}

.catalog-product > .img-wrapper {
    
}

.catalog-product > .info-wrapper {
    padding: 8px;
    border-left: solid black 1px;
}

.catalog-product > .info-wrapper > p {
    margin: 0px 0 3px;
}