body {
    padding-bottom: 20px;
    font-family: Calibri!important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
 font-family: Calibri!important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.catalog-section {
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;
}

.catalog-product {
    border:solid black 1px;
    margin-bottom: 15px;  
    padding: 5px;
    margin-left: 15px;
    max-width: 211px;
    min-width: 211px;
}

.product-top {
    display: flex;
    width:100%;
    min-height: 109px;
}

.product-bottom {
    padding:5px;

}

.product-bottom > .btn {
    width: 100%;
    font-size: 12px;
}

.info-wrapper > p {
    margin-bottom: 10px!important;
    line-height: 13px;
    padding-left: 3px;
}

.img-wrapper {
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 80px;
}

.catalog-product > .info-wrapper {
    padding: 8px;
    border-left: solid black 1px;
}

.catalog-product > .info-wrapper > p {
    margin: 0px 0 3px;
}

.banner {
    width: 100%;
    height: auto;
}

.banner > img {
    width: 100%;
    height: auto;
}

.navbar-brand {
    font-family: 'Vladimir Script';
    font-size: 40px;
}

.navbar-inverse, .btn {
       background-color: rgb(170,177,228);
       border-color: rgba(0, 0, 0, 0.17);
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a, .btn {
    color: black!important;
}

.total {
    border-top: thin solid black !important;
}


.shopping-cart {
  display:block;
  float:right;
}

h2.catalog-header {
    display: inline-block;
    margin-top:0px;
}

.catalog-heading {
    position: relative;
    padding:5px;
    height: 90px;
}

.shopping-cart > .glyphicon {
    font-size: 35px;
    color: rgb(170,177,228)!important;
}

.shopping-cart > .glyphicon:hover {
    color: rgb(124, 129, 165)!important;
}

.btn-primary:hover {
    background-color: rgb(124, 129, 165)!important;
}

.bestel-knop {
    float:right;
}

label.required::after { 
    content: " *";
    color:red;
}

