<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="paymentData">
      <section name="btwPercentages" type="Case3.BTWConfigurationReader.BTWPercentageSection, Case3.BTWConfigurationReader" />
    </sectionGroup>
  </configSections>
  <paymentData>
    <btwPercentages>
      <btwPercentage percentage= "21" />
    </btwPercentages>
  </paymentData>
</configuration>
