
@{
    ViewBag.Title = "GeenBestellingen";
}

<h2>Er zijn geen bestellingen gevonden die ingepakt moeten worden.</h2>
@Html.ActionLink("Opnieuw zoeken naar bestellingen", "Index", "Bestelling", new { area = "" }, new { @class = "btn btn-primary btn-lg bestel-knop no-print pull-right" })

