<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="serviceBus">
      <section name="serviceLocators"
                type="Minor.ServiceBus.Agent.Implementation.ServiceLocatorConfigSection,
                                                          Minor.ServiceBus.Agent.Implementation" />
    </sectionGroup>
  </configSections>

  <serviceBus>
    <serviceLocators active="fileServiceLocator" profile="Development">
      <fileServiceLocator filePath="../../LocationData.xml" />
      <webServiceLocator address="http://localhost:31415/PfSServiceLocator"
                          binding="basicHttpBinding" />
    </serviceLocators>
  </serviceBus>
</configuration>
