<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="serviceBus">
      <section name="serviceLocators"
               type="Minor.ServiceBus.Agent.Implementation.ServiceLocatorConfigSection,
                     Minor.ServiceBus.Agent.Implementation" />
    </sectionGroup>
  </configSections>
  <serviceBus>
    <serviceLocators active="webServiceLocator" profile="Acceptatie">
      <fileServiceLocator filePath="../../LocationData.xml" />
      <webServiceLocator address="http://minorbldsrv/Goudgeel/Acceptatie/PfSLocatorService/PfSLocatorService.svc"
                         binding="basicHttpBinding" />
    </serviceLocators>
  </serviceBus>
</configuration>